
<h1 class="title"> List Of Orders</h1>

<table class="table"  style="width: 700px; margin-left:300px">
    <thead class="thead-dark" >
      <tr>
        
        <th scope="col">Id</th>
        <th scope="col">Date</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody *ngFor="let order of orders ">
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.date | date :'medium'}}</td>
        <td><button>List of Articles</button></td>
      </tr>
      
    </tbody>
  </table>
