.title {
    color:#2e517d ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 43%;
    margin-top: 60px;
}

.card:hover{
    transform: scale(1.05);
 box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
 border-bottom: solid;
 
 
}

.card-title{
    font-family: 'Poppins', 'Arial', 'sans-serif';
    margin-left: 50px;
    font-weight: bold;
    color: #2e517d;
    
}
.submit1{
    width: 40%;
    margin-left: 11px;
    display: inline-block;
    border: 1px solid #2e517d;
}
.submit1 :hover{
    background-color: #2e517d;
    color:white;
}
.submit3{
    width: 100%;
    display: inline-block;
    
}
.submit1 :hover{
    background-color: #2e517d;
    color:white;
}
.submit{
    width: 40%;
    margin-left: 11px;
}
.cn{
    width: 160px;
    height: 40px;
    background: #203248;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    
}

 .cn a{
    text-decoration: none;
    color: white;
    transition: .3s ease;
    font-weight: bolder;
}
.card-image{
    width: 250px;
}
